<h1>Oops! Something bad has happened</h1>
<h2><strong>{{ status_code }}</strong> {{ status_text }}</h2>
<div>
    <a href="{{ url('home_page') }}" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-home">
        </span>
        Take Me Home
    </a>
    <a href="{{ url('contact_page') }}" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-envelope">
        </span>
        Contact Us
    </a>

    {{ exception.message }}

</div>
